<div class = "form">

  <div class = "header">

    <div class = "sign-up-container">
          <%= link_to "Sign up", new_registration_path(resource_name) %>
      <div class = "underline-thick"></div>
    </div>

    <div class = "sign-in-container">
      <%= link_to "Log in", new_session_path(resource_name) %>
      <div class = "underline-thick"></div>
    </div>
  </div>

<div class = "sign-in-form">

  <h1>Sign up to continue.</h1>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.input :email,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>

          </div>
        <% end %>
    </div>
  </div>

