<!-- Modal -->
<div class="modal fade" id="myStealModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="stealed-text" class="text">
          <p>Some amazing text than it is going to change</p>
        </div>
        <div id="stealed-main">
          <div id = "stealed-background" class="canvas_div option-head" style="background-image: url('https://res.cloudinary.com/sarneijim/image/upload/v1535131568/Template%20tranq/e6alfxygo4qjmxvinrl4.png')">
            <img id = "stealed-item" src="https://res.cloudinary.com/sarneijim/image/upload/v1535131568/Template%20tranq/e6alfxygo4qjmxvinrl4.png" alt="">
          </div>
        </div>
        <div id="footer_canvas">
          <a id= "add_favourites" class="buttons">
            <i class="fas fa-check"></i>
          </a>

          <%= form_tag(favourites_create_path, style: "display: none;", remote: true) do %>
            <%= text_field_tag(:action_favourite) %>
            <%= text_field_tag(:item_id) %>
            <%= text_field_tag(:friend_id) %>
            <%= text_field_tag(:category_favourite) %>
            <%= submit_tag "Add item", :id => "form_favourite" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

