<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
         <%= render 'partials/select' %>
         <div class="draw">
          <div id="palette_div">
            <div id="slider_track"><div></div></div>
              <div id="slider">
            </div>
            <div class="draw__color">
              <div class="color" id="tranq" style="background: #fbf8e8"></div>
              <div class="color" id="red" style="background: #993535"></div>
              <div class="color" id="orange" style="background: #D87936"></div>
              <div class="color" id="yellow" style="background: #E5D05B"></div>
              <div class="color" id="green" style="background: #74994C"></div>
              <div class="color" id="blue" style="background: #447799"></div>
              <div class="color" id="purple" style="background: #946c74"></div>
              <div class="color color-selected" id="white" style="background: #F2EEE8"></div>
              <div class="color" id="gray" style="background:#56545B"></div>
              <div class="color" id="black" style="background: #343434"></div>
            </div>
          </div>
          <div class="canvas_div option-head" style="background-image: url('https://res.cloudinary.com/sarneijim/image/upload/v1535131568/Template%20tranq/e6alfxygo4qjmxvinrl4.png')">
            <canvas id="canvas" width="500" height="375"></canvas>
          </div>


          <div id="footer_canvas">
            <a id="clear" class="buttons">
              <i class="fas fa-eraser"></i>
            </a>
            <a id="download" class="buttons">
              <i class="fas fa-download"></i>
            </a>
            <a id="upload" class="buttons">

              <label class="label-upload-photo" for="upload-photo"><i class="fas fa-upload"></i></label>
              <input type="file" name="photo" id="upload-photo" />
            </a>
            <a id="save" class="buttons">

              <i class="fas fa-check"></i>
            </a>

              <%= form_tag(items_create_path, style: "display: none;", remote: true) do %>
                <%= text_field_tag(:category, "head") %>
                <%= text_field_tag(:owner, "private") %>
                <%= text_field_tag(:photo) %>
                <%= submit_tag "Submit ID", :id => "submit_modal" %>
              <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>




  <%#= simple_form_for Item.new, url: items_create_path, method: :post do |f| %>
    <%#= f.input :category %>
    <%#= f.input :photo %>
    <%#= f.input :photo %>
    <%#= f.input :photo_cache, as: :hidden %>
    <%#= f.submit "add a review", class: "btn btn-primary" %>
  <%# end %>

</div>
