<%= render 'shared/flashes' %>
<div class="show-wrapper">
  <%= render 'shared/navbar' %>
  <div class="content expanded">
    <div class ="space">
      <%= render 'partials/added__items' %>
      <div>
        <%= render 'shared/switch' %>
        <%= image_tag('tranq_home.png', id: "tranq") %>
        <div id="overlay"></div>
      </div>
    </div>
  </div>
</div>
<%= render "partials/modal_canvas" %>
