<%= render 'shared/flashes' %>

<%# link_to("click", tranq_interac_path(current_user, category: 1), method: :patch, remote: true)%>
<h1 class="sr-only">Tranq</h1>
<div class="show-wrapper tucked-<%= @tranq.tucked_in %>">
  <div class="main-container">
     <%= render 'shared/navbar' %>
    <div class="content expanded">

      <div class ="space my-space">
        <div>
          <h2 class="points__house"><%= @current_user.points %></h2>
        </div>
        <div id="overlay"></div>

        <%= render 'partials/added__items' %>
      </div>
    </div>
  </div>
  <div class="secret-container">
    <div class="bg-msg">
      <%= render 'partials/small_surprise' %>
    </div>
  </div>
</div>
 <div class="hidden" id="steal-link-modal" data-toggle="modal" data-target="#myStealModal"></div>
<%= render "partials/modal_canvas" %>

<%= render "partials/modal_steal" %>

