<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class ="navbar">

  <ul class ="navbar__list">
    <li class ="navbar__list__item"><a id="feed_option" href="#"><%= image_tag("button_marshmallow.png") %></a></li>
    <li class ="navbar__list__item"><a id="decoration_option" href="#"><%= image_tag("button_couch.png") %></a></li>
    <li class ="navbar__list__item"><a id="friend_option" href="#"><%= image_tag("button_balloon.png") %></a></li>
    <li class ="navbar__list__item"><a id="setting_option" href="#"><%= image_tag("button_wrench.png") %></a></li>
  </ul>

  <div class="navbar__specific--parent">
    <ul class ="navbar__specific">
      <!-- Feed mode items -->
      <li class ="navbar__specific--feed navbar__specific__item">
        <%= link_to tranq_feed_path(@tranq), method: :patch do %>
          <%= image_tag("button_marshmallow.png") %>
        <% end %>
      </li>

      <!-- Decorate mode items -->
      <%= render "items/categories" %>

      <div class="head_items" id="active">
        <%= render "items/head_items", head_items: @heads %>
      </div>
      <div class="neck_items">
        <%= render "items/neck_items", neck_items: @necks %>
      </div>
      <div class="face_items">
        <%= render "items/face_items", face_items: @faces %>
      </div>



      <li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--hat">
        <a class = "toolbar__item toolbar__item--hat" href="#home">
        </a>
      </li>
      <li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--hat">
        <%= link_to tranq_path(@tranq), method: :patch do %>
        <%=  image_tag "https://www.freepngimg.com/download/hat/4-hat-png-image.png", class: "toolbar__item toolbar__item--hat" %>
        <% end %>
      </li>
      <li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--hat ">
        <a href="#home">
          <img class = "toolbar__item toolbar__item--hat" src="http://www.pngmart.com/files/6/Hat-PNG-Clipart-383x279.png"/>
        </a>
      </li>
      <li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--hand">
        <a class = "toolbar__item toolbar__item--hand" href="#home">
        </a>
      </li>
      <li class ="navbar__specific--decorate navbar__specific__item navbar__specific__item--hand">
        <a href="#home">
          <img class = "toolbar__item toolbar__item--hand" src="https://vignette.wikia.nocookie.net/es.pokemon/images/1/1b/Pok%C3%A9mon_GO_Plus_con_pulsera.png/revision/latest?cb=20150910125055"/>
        </a>
      </li>
      <li class ="navbar__specific--decorate navbar__specific--decorate navbar__specific__item navbar__specific__item--hand">
        <a href="#home">
          <img class = "toolbar__item toolbar__item--hand" src="https://i.pinimg.com/originals/84/78/86/84788676c8054ddb035b2886d8c217f8.png"/>
        </a>
      </li>
      <!-- Friends mode items -->

      <li class ="navbar__specific--friend navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific--friend navbar__specific__item"><a href="#home"></i></a></li>

      <!-- Setting mode item -->
      <li class ="navbar__specific--setting navbar__specific__item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag("button_logout.png") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
