<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class ="navbar" data-me="<%= current_user.id %>" data-friend="<%= @tranq.id %>" >

    <ul class ="navbar__list">
      <li class ="navbar__list__item">
        <%= link_to(tranq_visit_path(current_user, friend_id: current_user.id), method: :patch, remote: true, id: "feed_option") do %>
          <%= image_tag("button_marshmallow.png") %>
        <% end %>
      </li>
      <li class ="navbar__list__item">
        <%= link_to(tranq_visit_path(current_user, friend_id: current_user.id), method: :patch, remote: true, id: "decoration_option") do %>
          <%= image_tag("button_couch.png") %>
        <% end %>
      </li>
      <li class ="navbar__list__item">
        <%= link_to root_path, id: "home_option" do %>
          <%= image_tag("button_home.png") %>
        <% end %>
      </li>

      <li class ="navbar__list__item">
        <a id="friend_option" href="#">
          <%= image_tag("button_balloon.png") %>
        </a>
      </li>
      <li class ="navbar__list__item">
        <%= link_to(tranq_visit_path(current_user, friend_id: current_user.id), method: :patch, remote: true, id: "setting_option") do %>
          <%= image_tag("button_wrench.png") %>
        <% end %>
      </li>
    </ul>



  <div class="navbar__specific--parent">
    <ul class ="navbar__specific">
      <!-- Feed mode items -->
      <li class="navbar__specific__item navbar__specific--feed">
        <%= link_to tranq_feed_path(current_user.id), method: :patch, remote: true do %>
          <div class="navbar_button" style="background-image: url('<%= image_path("button_marshmallow.png") %>')"></div>
        <% end %>
      </li>


      <!-- Decorate mode items -->
      <% if current_user == @tranq %>
        <%= render "items/categories" %>

        <div class="head_items">
          <%= render "items/items", items: @heads %>
        </div>
        <div class="face_items">
          <%= render "items/items", items: @faces %>
        </div>
        <div class="neck_items">
          <%= render "items/items", items: @necks %>
        </div>
        <div class="body_items">
          <%= render "items/items", items: @bodies %>
        </div>
        <div class="couch_items">
          <%= render "items/items", items: @couches %>
        </div>
        <div class="table_items">
          <%= render "items/items", items: @windows %>
        </div>
        <div class="side_table_items">
          <%= render "items/items", items: @side_tables %>
        </div>
        <div class="window_items">
          <%= render "items/items", items: @windows %>
        </div>
        <div class="plant_items">
          <%= render "items/items", items: @plants %>
        </div>
        <div class="floor_items">
          <%= render "items/items", items: @floors %>
        </div>
        <div class="wall_items">
          <%= render "items/items", items: @walls %>
        </div>
      <% end %>

      <!-- Friends mode items -->
      <% unless current_user == @tranq %>
        <li class ="navbar__specific--friend navbar__specific__item">
          <%= link_to tranq_path(current_user) do %>
            <div class="navbar_button">Back to <%= current_user.clubhouse_name %></div>
          <% end %>
        </li>
      <% end %>
      <% @friends.each do |friend| %>
        <li class ="navbar__specific--friend navbar__specific__item" data-friend-id="<%= friend.id %>">
          <%= link_to(tranq_visit_path(current_user, friend_id: friend.id), method: :patch, remote: true) do %>
            <div class="navbar_button friend_button">Visit <%= friend.clubhouse_name %></div>
          <% end %>
        </li>
      <% end  %>






      <!-- Setting mode items -->
      <li class ="navbar__specific--setting navbar__specific__item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="navbar_button" style="background-image: url('<%= image_path("button_logout.png") %>')"></div>
        <% end %>
      </li>

      <li class ="navbar__specific--setting navbar__specific__item">
          <div class="navbar_button toggle-img" id="toggle-night" style="background-image: url('<%= image_path("button_switch_day.png") %>')"></div>
      <li class ="navbar__specific--setting navbar__specific__item">
          <div class="navbar_button d-none toggle-img" id="toggle-day" style="background-image: url('<%= image_path("button_switch_night.png") %>')"></div>

      <li class ="navbar__specific--setting navbar__specific__item">
        <input type="button" value="PLAY"  onclick="play()">
        <audio id="audio" src="<%= asset_path('rain.mp3') %>" ></audio>
      </li>


      <li class ="navbar__specific--setting navbar__specific__item" id="toggle-day" >
          <div class="navbar_button toggle-img" style="background-image: url('<%= image_path("button_switch_day.png") %>')"></div>
>>>>>>> b90417f8185f5c5192794725328283886f945847
      </li>
      <li class ="navbar__specific--setting navbar__specific__item d-none" id="toggle-night">
          <div class="navbar_button toggle-img" style="background-image: url('<%= image_path("button_switch_night.png") %>')"></div>
      </li>
    </ul>
  </div>
</div>
