<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class ="navbar">

  <ul class ="navbar__list">
    <li class ="navbar__list__item"><a id="feed_option" href="?mode=feed"><%= image_tag("button_marshmallow.png") %></a></li>
    <li class ="navbar__list__item"><a id="decoration_option" href="?mode=decorate"><%= image_tag("button_couch.png") %></a></li>
    <li class ="navbar__list__item"><a id="friend_option" href="?mode=visit"><%= image_tag("button_balloon.png") %></a></li>
    <li class ="navbar__list__item"><a id="setting_option" href="?mode=settings"><%= image_tag("button_wrench.png") %></a></li>
  </ul>

  <div class="navbar__specific--parent">
    <ul class ="navbar__specific">
      <li class ="navbar__specific__item"><%= link_to tranq_feed_path(@tranq), method: :patch do %>
  <%= image_tag("button_marshmallow.png") %>
<% end %></li>
      <li class ="navbar__specific__item"><img class = "toolbar__item toolbar__item--hat" src="https://www.freepngimg.com/download/hat/4-hat-png-image.png"/><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><img class = "toolbar__item toolbar__item--hat" src="http://www.pngmart.com/files/6/Hat-PNG-Clipart-383x279.png"/><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
      <li class ="navbar__specific__item"><a href="#home"></i></a></li>
    </ul>
  </div>
</div>

<div class="content row expanded main-tranq" style="background-image: url(<%= image_path('tranq_home.png')%>);">
  <div class ="space">
    <div class = "added__items"></div>
    <img id ="tranq" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c396.png"/>
  </div>
<h1>Current Tranq/User data:</h1> <%= @tranq.attributes %>
<h1>Clicking the BIG marshmallow now feeds Tranq. The routing needs fixing though.</h1>
<h2>Clicking the small icons changes the mode and adds it to params. This routing appears to be correct, but it's not connected to any logic yet.</h2>




</div>
