<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class ="navbar">

  <ul class ="navbar__list">
    <li class ="navbar__list__item"><a id="feed_option" href="#"><%= image_tag("button_marshmallow.png") %></a></li>
    <li class ="navbar__list__item"><a id="decoration_option" href="#"><%= image_tag("button_couch.png") %></a></li>
    <li class ="navbar__list__item"><a id="friend_option" href="#"><%= image_tag("button_balloon.png") %></a></li>
    <li class ="navbar__list__item"><a id="setting_option" href="#"><%= image_tag("button_wrench.png") %></a></li>
  </ul>


  <button type="button" class="fa fa-pencil" id="draw_tool" data-toggle="modal" data-target="#myModal"></button>

  <%= render "partials/modal_canvas" %>


  <div class="navbar__specific--parent">
    <ul class ="navbar__specific">
      <!-- Feed mode items -->
      <li class="navbar__specific__item navbar__specific--feed">
        <%= link_to tranq_feed_path(@tranq), method: :patch do %>
        <div style="background-image: url('<%= image_path("button_marshmallow.png") %>')"></div>
        <% end %>
      </li>
      <li>
       <h1><%= @tranq.last_fed %></h1>
      </li>

      <!-- Decorate mode items -->
      <%= render "items/categories" %>

      <div class="head_items">
        <%= render "items/items", items: @heads %>
      </div>
      <div class="face_items">
        <%= render "items/items", items: @faces %>
      </div>
      <div class="neck_items">
        <%= render "items/items", items: @necks %>
      </div>
      <div class="body_items">
        <%= render "items/items", items: @bodies %>
      </div>
      <div class="couch_items">
        <%= render "items/items", items: @couches %>
      </div>
      <div class="table_items">
        <%= render "items/items", items: @tables %>
      </div>
      <div class="side_table_items">
        <%= render "items/items", items: @side_tables %>
      </div>
      <div class="lamp_items">
        <%= render "items/items", items: @lamps %>
      </div>
      <div class="plant_items">
        <%= render "items/items", items: @plants %>
      </div>
      <div class="floor_items">
        <%= render "items/items", items: @floors %>
      </div>
      <div class="wall_items">
        <%= render "items/items", items: @walls %>
      </div>


      <!-- Friends mode items -->
      <% @friends.each do |friend| %>
        <li class ="navbar__specific--friend navbar__specific__item">
          <%= link_to "Clubhouse #{friend.id}", tranq_path(friend) %>
        </li>
      <% end  %>

      <li class ="navbar__specific--friend navbar__specific__item"><a href="#home"></i></a></li>

      <!-- Setting mode items -->
      <li class ="navbar__specific--setting navbar__specific__item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag("button_logout.png") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
