<div class="form-fixer">
  <div class="form-wrapper text-center">
    <div class="form-inputs">
      <h2 class="form-header">Log in</h2>
        <div class="form-group col-xs-12 col-sm-offset-5 col-sm-4">
          <div class="card" style="width: 22rem;">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            <div class="form-actions">
            <%= f.button :submit, "Log in" %>
            <%= render "devise/shared/links" %>
            </div>
        <% end %>
          </div>
          </div>
      </div>
  </div>
</div>




