<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tranq Dot Calm 🥔🥔🥔🥔🥔🥔🥔</title>
    <meta name="author" content="https://github.com/michaelbelzil/tranq">
    <meta name="description" content="Narcoleptic Potato Vanity Page">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://res.cloudinary.com/www-michaelbelzil-com/image/upload/v1535659399/tranq/tranq_poster.png"/>
    <meta property="og:description" content="Tranq's Clubhouse is the website for people who love and respect Tranq."/>
    <meta property="og:title" content="Omg it's Tranq!"/>
    <meta property="og:url" content="<%= request.original_url %>" />
    <%= favicon_link_tag 'icons-etc/favicon.ico' %>
    <%= favicon_link_tag 'icons-etc/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
